{% extends "scaffolds/public_scaffold.twig" %}

{% block body %}
    <div class="main column">
        <div>{{ message }}</div>

        <div id="articles">
            {% for a in articles %}
                <div>{{ a.title }}</div>
                <div>{{ a.author.name }}</div>
                <div>{{ a.category.name }}</div>
                <div>{{ a.excerpt|md|raw }}</div>
                <div>{{ a.body|md|raw }}</div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
