<div id="comments" class="container"
     xmlns:v-bind="http://www.w3.org/1999/xhtml"
     xmlns:v-on="http://www.w3.org/1999/xhtml">

    {#====================#}
    {#    COMMENT FORM    #}
    {#====================#}

    <form method="post" @submit.stop.prevent="sendComment" xmlns:v-bind="http://www.w3.org/1999/xhtml">
        <input id="token" type="hidden" name="token" value="{{ token }}">
        <input id="thread" type="hidden" name="thread" value="{{ thread }}">

        <div class="comment-box">

            <div class="main">
                <p class="error" v-bind:class="{ active: error }">${ error }</p>

                <label for="body" class="hidden">Comment body</label>
                <textarea name="body" id="body" rows="10" v-model="comment_body"></textarea>
            </div>

            <div class="bottom">
                <div class="counter">${charsLeft}</div>

                <button class="send" @click="sendComment">>>></button>
            </div>

        </div>
    </form>

    {#=====================#}
    {#    BOX O'COMMENTS   #}
    {#=====================#}

    <div class="comments-list">

        {# Comments shown by JS #}
        <div class="comment" v-for="c in comments_list">

            <div class="avatar">
                <img v-bind:src="c.avatar " v-bind:alt="'c.user'+'\'s avatar'">
            </div>

            <div class="top">
                <div class="author">${ c.user }</div>
                <div class="date item">${ c.date }</div>
            </div>

            <div class="body" v-html="c.body"></div>

            <div class="meta">
                <div class="buttons">
                    <button class="item" v-on:click="reportComment(c.id)">R</button>
                </div>
                <div class="id item">
                    >>>${ c.id }
                </div>
            </div>

        </div>

        {# Comments shown by default #}
        {% for c in comments %}
            <div class="comment" v-if="comments_list.length <= 0">

                <div class="avatar">
                    <img src="{{ c.avatar }}" alt="{{ c.user }}'s avatar">
                </div>

                <div class="top">
                    <div class="author">{{ c.user }}</div>
                    <div class="date item">{{ c.date }}</div>
                </div>

                <div class="body">{{ c.body|raw }}</div>

                <div class="meta">
                    <div class="buttons">
                        <button class="item" v-on:click="reportComment({{ c.id }})">R</button>
                    </div>
                    <div class="id item">
                        >>>{{ c.id }}
                    </div>
                </div>

            </div>
        {% endfor %}


    </div>

</div>

<script type="application/javascript" src="{{ vasset('js/v-comments', 'min.js') }}"></script>
