<div id="navbar">

    <div class="brand">
        <a class="link" href="/">{{ cfg('name') }}</a>
    </div>

    <div class="hamburger">
        <i class="hamburger icon"></i>
    </div>

    <nav class="items">

        <hr>

        <div class="item">
            <a class="link" href="#">Longer Link</a>
        </div>

        <hr>

    </nav>

    <nav class="right items">

        <hr>

        <div class="dropdown" aria-haspopup="true">
            <div class="item">
                <i class="palette icon"></i>
            </div>
            <div class="dropdown-content">
                <a class="dropdown-item link theme" data-theme="{{ vasset('css/dark', 'min.css', true) }}" href="#">Dark</a>
                <a class="dropdown-item link theme" data-theme="{{ vasset('css/light', 'min.css', true) }}" href="#" >Light</a>
            </div>
        </div>

        <hr>

        {% if user %}

            <div class="dropdown" aria-haspopup="true">
                <div class="avatar item">
                    <p>{{ user.name }}</p>
                    <img src="{{ user.avatar ?? gravatar(user.email, 40) }}" alt="{{ user.name }}'s avatar">
                </div>
                <div class="dropdown-content">
                    <a class="dropdown-item link" href="/profile">Profile</a>
                    <a class="dropdown-item link" href="/account">Account</a>
                    <a class="dropdown-item link" href="/logout" >Logout</a>
                </div>
            </div>

        {% else %}

            <div class="item">
                <a class="link" href="/register">Register</a>
            </div>

            <hr>
            <div class="item">
                <a class="link" href="/login">Login</a>
            </div>

        {% endif %}

    </nav>

</div>
