{% extends 'scaffolds/public_scaffold.twig' %}

{% block body %}
<div class="v-centered main column">

    <div class="narrow h-centered container"
         xmlns:v-on="http://www.w3.org/1999/xhtml">

        <form class="form" id="login" method="POST" @submit="checkForm">

            <div class="avatar field">
                <img v-if="!avatar" src="{{ gravatar('a@a.a') }}" alt="Placeholder avatar" class="avatar">
                <img v-if="avatar" :src="avatar" alt="User avatar" class="avatar">
            </div>

            <div id="messages">

                {% if message %}
                    <div class="success timed message field">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}

                <div class="error message field" v-if="errors.length" v-on:click="errors = []">
                    <b>Please correct the following error(s):</b>
                    <ul>
                        <li v-for="error in errors">${ error }</li>
                    </ul>
                </div>

                {% if messages %}
                    <div class="error message field" v-if="!errors.length && msg_shown" v-on:click="msg_shown = false">
                        <b>Please correct the following error(s):</b>
                        <ul>
                            {% for m in messages %}
                                <li>{{ m }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            {# First auth step — LOGIN #}
            <div class="full field">
                <label for="login">Login</label>
                <input type="text" name="login" id="login" v-model="login" required>
            </div>

            {# Second auth step — PASSWORD and MFA #}
            <transition name="fade">
                <div class="full field" v-if="step==2">
                    <label for="password">Password <a href="/forgot">(forgot?)</a></label>
                    <input type="password" name="password" id="password" v-model="pass" required>
                </div>
            </transition>

            <transition name="fade">
                <div class="full field" v-if="has_mfa">
                    <label for="mfa">2FA token</label>
                    <input type="password" name="mfa" id="mfa" v-model="mfa" required>
                </div>
            </transition>

            <transition name="fade">
                <div class="checkbox field" v-if="step==2">
                    <label for="remember">Remember me</label>
                    <input id="remember" name="remember" v-model="remember" type="checkbox">
                </div>
            </transition>


            <input id="token" type="hidden" name="token" value="{{ token }}">

            <div class="field">
                <label for="login" class="hidden">Log in</label>
                <input id="login" class="submit button" type="submit" :value="button_text">
            </div>

        </form>

    </div>
</div>

    <script type="application/javascript" src="{{ vasset('js/v-login-validator-2', 'min.js') }}"></script>

{% endblock %}
